.wrapper {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: #f7f7f7;

    .floor_first {
        width: 1200px;
        // height: 200px;
        overflow: hidden;

        .box_list_first {
            // float: left;
            height: 200px;
            padding-bottom: 40px;
            display: flex;
            // justify-content: space-around;
            justify-content: space-between;

            .box_l_f {
                height: 190px;
                width: 394px;
                // float: left;

                a {
                    img {
                        height: 190px;
                        width: 394px;
                    }
                }
            }
        }
    }

    .floor-rush {


        .info {
            position: relative;

            .rush-title {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding-bottom: 25px;

                .rush-logo {
                    width: 82px;
                    height: 26px;
                }

                .count-down {
                    margin-left: 10px;
                    font-size: 16px;
                    color: #999;
                }
            }

            .bolder {
                display: inline-block;
                border-radius: 3px;
                width: 38px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                background-color: #ec0404;
                font-size: 18px;
                color: #fff;
                margin: 0 6px;
            }

            .risk {
                padding: 0 2px;
                font-weight: 400;
                font-style: normal;
            }


            .more-wrapper {
                position: absolute;
                right: 0;
                bottom: 30px;

                a {
                    margin-left: 22px;
                    color: #333;
                    font-size: 14px;
                    line-height: 1;

                    float: left;

                    .v-icon {
                        width: 1em;
                        height: 1em;
                        vertical-align: -.15em;
                        fill: currentColor;
                        overflow: hidden;
                    }
                }
            }

        }

        .box-list {
            position: relative;
            display: flex;
            width: 100%;
            line-height: 0;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            .before {
                left: -50px;
            }

            .btn-page {
                position: absolute;
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                border-radius: 50%;
                border: 1px solid #a4a4a4;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                cursor: pointer;

                .v-icon {
                    width: 1em;
                    height: 1em;
                    vertical-align: -.15em;
                    fill: currentColor;
                    overflow: hidden;

                    :not(svg) {
                        transform-origin: 0px 0px;
                    }

                    svg:not(:root) {
                        overflow: hidden;

                    }

                }
            }

            .next {
                right: -50px;
            }

            .btn-page {
                position: absolute;
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                border-radius: 50%;
                border: 1px solid #a4a4a4;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                cursor: pointer;

                .v-icon {
                    width: 1em;
                    height: 1em;
                    vertical-align: -.15em;
                    fill: currentColor;
                    overflow: hidden;

                    :not(svg) {
                        transform-origin: 0px 0px;
                    }

                    svg:not(:root) {
                        overflow: hidden;
                    }
                }
            }


            .swiper-container {
                margin: 0 auto;
                position: relative;
                overflow: hidden;
                list-style: none;
                padding: 0;
                z-index: 1;
            }


            .swiper-wrapper {
                -webkit-transform: translateZ(0);
                transform: translateZ(0);

                position: relative;
                width: 100%;
                height: 100%;
                z-index: 1;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-transition-property: -webkit-transform;
                transition-property: -webkit-transform;
                -o-transition-property: transform;
                transition-property: transform;
                transition-property: transform, -webkit-transform;
                -webkit-box-sizing: content-box;
                box-sizing: content-box;


                .swiper-slide {
                    -webkit-flex-shrink: 0;
                    -ms-flex-negative: 0;
                    flex-shrink: 0;
                    width: 300px;
                    height: 100%;
                    position: relative;
                    -webkit-transition-property: -webkit-transform;
                    transition-property: -webkit-transform;
                    -o-transition-property: transform;
                    transition-property: transform;
                    transition-property: transform, -webkit-transform;


                    .box {
                        width: 293px;
                        height: 380px;
                        position: relative;
                        margin-bottom: 10px;
                        font-size: 0;
                        text-align: center;
                        background-color: #fff;
                        -webkit-transition: all .2s linear;
                        transition: all .2s linear;

                        .corner-img {
                            position: absolute;
                            right: 50px;
                            top: 28px;
                            z-index: 1;
                            width: 60px;
                            height: 60px;
                        }

                        .box>a {
                            display: block;
                        }

                        a {
                            text-decoration: none;
                            background-color: transparent;
                            outline: 0;
                            -webkit-tap-highlight-color: transparent;
                            outline: 0;
                        }

                        .box>a>img {
                            position: relative;
                            vertical-align: top;
                            width: 100%;
                            display: inline-block;
                        }

                        .prod-img {
                            width: 172px;
                            height: 172px;
                            margin-top: 41px;
                        }


                        .prod-info {
                            padding: 0 20px;

                            .name {
                                padding-top: 16px;
                                color: #333;
                                font-size: 16px;
                                line-height: 30px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            p {
                                text-align: center;
                            }

                            .name {
                                font-size: 16px;
                            }

                            .desc {
                                line-height: 17px;
                                height: 17px;
                                margin-top: 10px;
                                font-size: 12px;
                                color: #333;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            .price {
                                margin-top: 20px;
                                font-size: 22px;
                                color: #f51919;

                                dfn {
                                    font-size: 14px;
                                    line-height: 20px;
                                }

                                .disabled {
                                    margin-left: 6px;
                                    text-decoration: line-through;
                                    color: #aaa;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    // 第三个
    .floor-list,
    .J_promotion-container {
        padding-bottom: 40px;
        width: 100%;
        display: inline-block;

        .info {
            position: relative;

            // 热卖专区
            .subject {
                padding: 38px 0 25px;
                color: #333;
                font-size: 24px;
                line-height: 1;
                text-align: center;
            }
        }

        .box-list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            line-height: 0;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;


            .box {
                display: inline-block;
                vertical-align: top;
                position: relative;
                margin-bottom: 10px;
                font-size: 0;
                text-align: center;
                background-color: #fff;
                -webkit-transition: all .2s linear;
                transition: all .2s linear;
                width: 394px;
                height: 511px;

                a {
                    text-decoration: none;
                    background-color: transparent;
                    outline: 0;
                    -webkit-tap-highlight-color: transparent;
                    outline: 0;
                    display: block;






                    img {
                        position: relative;
                        vertical-align: top;
                        width: 100%;
                        display: inline-block;

                        margin: 58px auto 0;
                        width: 230px;
                        height: 230px;
                    }
                }


            }
        }

        // 第一个li
        .prodinfo {
            position: relative;

            .name {
                padding-top: 16px;
                color: #333;
                font-size: 16px;
                line-height: 30px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-top: 29px;
                font-size: 20px;
            }

            .feature {
                padding: 2px 15px 40px;
                height: 24px;
                color: #333;
                font-size: 12px;
                line-height: 24px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 8px 50px 53px;
                font-size: 14px;
            }

            .price {
                color: #f51919;
                font-size: 16px;
                line-height: 1;
                font-size: 18px;
            }
        }

        // 第二个li
        .floor.pc_6 .box,
        .floor.pc_6 .box:first-child>a>img {
            height: 380px;

        }

        .floor.pc_6 .box>a>img {
            height: 380px;
            margin: 43px auto 0;
            width: 172px;
            height: 172px;
        }

        .floor.pc_6 .box {
            width: 293px;
        }

        .floor.pc_6 a {
            display: block;
        }

        .floor.pc_6 .box:first-child {
            width: 595px;

            img {
                margin: 0;
                width: 100%;
            }
        }

        .floor.pc_6 .name {
            padding-top: 16px;
            color: #333;
            font-size: 16px;
            line-height: 30px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .floor .feature {
            padding: 2px 15px 40px;
            height: 24px;
            color: #333;
            font-size: 12px;
            line-height: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

        }

        .floor .price {
            color: #f51919;
            font-size: 16px;
            line-height: 1;
        }


        // 第三个
        .c_8 {
            .subject {
                padding: 38px 0 25px;
                color: #333;
                font-size: 24px;
                line-height: 1;
                text-align: center;
            }

            .more-wrapper {
                position: absolute;
                right: 0;
                bottom: 30px;

                li {
                    float: left;

                    a {
                        margin-left: 22px;
                        color: #333;
                        font-size: 14px;
                        line-height: 1;

                        .v-icon {
                            width: 1em;
                            height: 1em;
                            vertical-align: -.15em;
                            fill: currentColor;
                            overflow: hidden;
                        }
                    }
                }
            }

            .box {
                position: relative;
                margin-bottom: 10px;
                font-size: 0;
                text-align: center;
                background-color: #fff;
                -webkit-transition: all .2s linear;
                transition: all .2s linear;
                width: 293px;
                height: 380px;

                a {

                    img, .floor.pc_6 .box>a>img {
                        margin: 43px auto 0;
                        width: 172px;
                        height: 172px;
                    }
                }

            }

        }
    }


}