.regis {
  height: 100%;
  width: 100%;
  background: #F7F7F7;
  overflow: hidden;
}

.regis .register {
  height: 670px;
  width: 860px;
  margin: 80px auto;
  background: #FFFFFF;
}

.regis .register .section {
  overflow: hidden;
}

.regis .register .section .logo-area {
  width: 100%;
  height: 42px;
  margin: 60px auto;
  text-align: center;
}

.regis .register .section .logo-area img {
  width: 160px;
  height: 42px;
}

.regis .register .section .title-item {
  width: 100%;
  height: 35px;
  text-align: center;
}

.regis .register .section .title-item .title {
  font-size: 22px;
}

.regis .register .section .outer-box {
  height: 248px;
  width: 360px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
}

.regis .register .section .outer-box .inner-box {
  height: 100%;
  width: 100%;
}

.regis .register .section .outer-box .inner-box .country-box {
  width: 100%;
  height: 48px;
  border: 1px solid #dedfe0;
  line-height: 48px;
  margin-bottom: 30px;
}

.regis .register .section .outer-box .inner-box .country-box .show-country {
  position: relative;
  padding-left: 10px;
  cursor: pointer;
}

.regis .register .section .outer-box .inner-box .country-box .show-country .countrys {
  display: none;
}

.regis .register .section .outer-box .inner-box .country-box .show-country .arrow {
  float: left;
  width: 100%;
  height: 47px;
  line-height: 48px;
  color: #a9aB2F;
  border: none;
  outline: none;
}

.regis .register .section .outer-box .inner-box .country-box .hint_user {
  display: none;
  margin-top: 52px;
  font-size: 14px;
  color: #999;
  line-height: 19px;
}

.regis .register .section .outer-box .inner-box .password {
  margin-top: 15px;
  width: 100%;
  height: 48px;
  border: 1px solid #dedfe0;
  line-height: 48px;
  margin-bottom: 30px;
}

.regis .register .section .outer-box .inner-box .password .password_inset {
  float: left;
  width: 97%;
  height: 48px;
  color: #a9aB2F;
  font-size: 14px;
  padding-left: 10px;
  border: none;
  outline: none;
}

.regis .register .section .outer-box .inner-box .password .hint_pass {
  display: none;
  margin-top: 52px;
  font-size: 14px;
  color: #999;
  line-height: 19px;
}

.regis .register .section .outer-box .plackfoot_box {
  margin-top: 20px;
  width: 100%;
}

.regis .register .section .outer-box .os_pc_btn {
  height: 48px;
  width: 100%;
  background: #456FFF;
  margin-top: 20px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  font-size: 17px;
  cursor: pointer;
}
